.widget {
  cursor: move;
  background: #f6f7fb;
  border: 1px solid #ccc;
  padding: 4px 8px;
  display: grid;
  margin-bottom: 5px;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;
  grid-template-columns: 14% auto;
}