.widget {
  cursor: move;
  background: #f6f7fb;
  border: 1px solid #ccc;
  padding: 4px 8px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  flex: 0 0 49%;
  font-size: 12px;
  white-space: nowrap;
}